.findUserHeadline {
  position: relative;
  font-weight: 700;
}
.findUserInput {
  border: 1px solid #fff;
  background-color: #1e193b;
  align-self: stretch;
  border-radius: 5px;
  color: white;
  font-family: Blinker;
  font-size: 20px;
  padding: 5px 10px;
}
.findUserInput:focus {
  background-color: #1e193b;
  border: 1px solid #fff;
  box-sizing: border-box;
  outline: none;
}
.findUser {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.adduserbuttont {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 100%;
  font-family: Blinker;
  color: #fff;
  text-align: left;
}
.addUserButton {
  cursor: pointer;
  border: none;
  padding: 0px 0px 2px;
  background-color: #1e193b;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 119px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.addUser1 {
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 30px;
  box-sizing: border-box;
}
.addUser {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 30px;
  gap: 10px;
}
.userImageIcon {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 110px;
  height: 55px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  /*ADDED*/
  /* border: solid;
  border-width: 2px;
  border-top: 2px solid #302b4f;
  border-color: #302b4f; */
}
.userNameT {
  align-self: stretch;
  position: relative;
  flex: 1;
  word-wrap: break-word; /* Allows the text to break and wrap */
  white-space: normal; /* Ensures normal text wrapping behavior */
  width: 95px; /* Or use 'max-width' if you want it to grow with content */

}

.userNameTBox {


  box-sizing: border-box;
  width: 95px; /* Or use 'max-width' if you want it to grow with content */
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: flex-start;

  position: relative;
}

.userNameTFrame {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  border-radius: 0px 0px 5px 5px;
  background-color: #302b4f;
  box-sizing: border-box;
  width: 114px; /* Fixed width */
  padding: 1px; /* Adjust if necessary */
  position: relative;
  bottom: 5px;


}


.userFrame {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  /*ADDED*/
  cursor: pointer;
}

.toBeAddedUsers {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 25px 0px;
  gap: 20px;
  text-align: center;
  font-size: 16px;
  font-family: Blinker;
}
.removeSelectedUsersButton {
  cursor: pointer;
  border: none;
  padding: 0px 0px 2px;
  background-color: rgb(241, 85, 85);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 270px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.removeSelectedUsers {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0px;
}
.createGizUsers {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Anybody;
}


.reInviteButton {
  font-family: blinker;
  position:relative;
  bottom: 4px;
  color: white;
  cursor: pointer;
  border: none;
  border: 1px solid #302b4f;
  background-color: #67a4bd;
  align-self: stretch;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

@media screen and (min-width: 700px) {  /* Adjust the min-width as needed */
  .userFrame {
      height: 215px;
      font-size: 16px;
  }

  .userImageBorder {

  }

  .userImageIcon {

      height: 150px;
    }
  /* ... other modified styles for desktop ... */
}

@media screen and (max-width: 767px) { 



  .createGizUsers {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Anybody;
  }
  .findUserHeadline {
    position: relative;
    font-weight: 700;
    font-size: 14px;
  }
  .findUserInput {
    border: 1px solid #fff;
    background-color: #1e193b;
    align-self: stretch;
    border-radius: 5px;
    color: white;
    font-family: Blinker;
    font-size: 16px;
    padding: 5px 10px;
  }

  .adduserbuttont {
    position: relative;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 100%;
    font-family: Blinker;
    color: #fff;
    text-align: left;
  }
  .addUserButton {
    cursor: pointer;
    border: none;
    padding: 0px 0px 2px;
    background-color: #1e193b;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 119px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

}