.span {
  font-weight: 800;
}

.create {
  font-family: Blinker;
}
.createGizButtonContainer {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 100%;
  color: #fff;
  text-align: left;
}
.createGizButton {
  cursor: pointer;
  border: none;
  padding: 0px 0px 4px;
  background-color: #1e193b;
  align-self: stretch;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.createGizButtonFrame {
  align-self: stretch;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 30px;
  box-sizing: border-box;
}
.cancelButtonT {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 100%;
  font-family: Blinker;
  color: #fff;
  text-align: left;
}
.cancelButton {
  cursor: pointer;
  border: none;
  padding: 0px 0px 3px;
  background-color: #f15555;
  align-self: stretch;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.cancelButtonT {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 100%;
  font-family: Blinker;
  color: #fff;
  text-align: left;
}
.cancelGizButtonFrame {
  align-self: stretch;
  height: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 56px;
  box-sizing: border-box;
}
.createOrCancel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gizFrame {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px 0px;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 800px;
  /* ADDED */
  z-index: 1;
  background: linear-gradient(180deg, #463f71 50%, #fb7885 200%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.space {
  align-self: stretch;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.giz {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 26px;
}
.createSite {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Blinker;
  /* ADDED */
  background: linear-gradient(180deg, #1e193b 50%, #fb7885 230%);
  height: 100%;
  min-height: 100vh;
  z-index: 1;
}

/* ADDED */
.gizFrame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/public/createBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.075; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the image is behind the content */
}
