.confirmGizButton {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 100%;
  font-family: Blinker;
  color: #fff;
  text-align: left;
}
.confirmChangeGizButton {
  cursor: pointer;
  border: none;
  padding: 0px 0px 4px;
  background-color: #1e193b;
  align-self: stretch;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.confirmChangeGizButtonFram {
  align-self: stretch;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 30px;
  box-sizing: border-box;
}
.cancelButton {
  cursor: pointer;
  border: none;
  padding: 0px 0px 3px;
  background-color: #f15555;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.cancelGizButtonFrame {
  align-self: stretch;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 0px 30px;
  box-sizing: border-box;
  gap: 20px
}
.editOrCancel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gizFrame {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px 0px;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 800px;
  /* ADDED */
  z-index: 1;
  background: linear-gradient(180deg, #463f71 50%, #fb7885 200%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.space {
  align-self: stretch;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.giz {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 26px;
}
.editSite {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Blinker;
  /* ADDED */
  background: linear-gradient(180deg, #1e193b 300px, #fb7885 8000px);
  height: 100%;
  min-height: 100vh;
  z-index: 1;
}

/* ADDED */
.gizFrame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/public/createBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.075; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the image is behind the content */
}

.titleT {
  font-size: 20px;
}

.titleTWrapper {
  padding-bottom: 10px
}

.createOptions {
  align-self: stretch;
  height: 55px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 30px;
  padding-bottom: 20px;
  box-sizing: border-box;
  gap: 10px;
}

.infosButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #302b4f;
  align-self: stretch;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.usersButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #302b4f;
  align-self: stretch;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.infosT {
  position: relative;
  font-size: 16px;
  font-family: Blinker;
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .gizFrame {
    padding: 10px 0px 0px;
  }

  .editOrCancel {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .confirmGizButton {
    font-size: 20px;

  }
  .confirmChangeGizButton {
    height: 40px;
  }
  .confirmChangeGizButtonFram {
    align-self: stretch;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 30px;
    box-sizing: border-box;
  }

  .cancelButton {
    cursor: pointer;
    border: none;
    padding: 0px 0px 3px;
    background-color: #f15555;
    flex: 1;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .cancelGizButtonFrame {
    align-self: stretch;
    height: 51px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 0px 30px;
    box-sizing: border-box;
    gap: 20px
  }
}
