.optionsCreateT {
  position: relative;
}
.optionsCreateFrame {
  align-self: stretch;
  flex: 1;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.optionsStatusFrame {
  align-self: stretch;
  flex: 1;

  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) inset; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.optionsButtonFrame {

  flex: 1;
  border-radius: 10px;
  height: 51px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  /*ADDED*/
  position: relative;
}
.optionsFrame {
  align-self: stretch;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 26px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Blinker;
}



.highlight {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 33%; /* Assuming equal widths for tabs */
  background: #6b56a3; /* Lighter purple */
  transition: left 0.3s ease; /* Smooth transition for left property */
}


.invitesBadge {
  position:absolute;

  color: #1c012c;
  font-family: 'Anybody', sans-serif; /* Replace with your font */
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  border-radius: 50%;
  padding: 2px 6px; 
  margin-left: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 7px; /* Ensure it's a circle */
  height: 16px; /* Same as min-width for circle shape */
  bottom: 15px;
left: 58px;

}

.count {
  position: relative;
  top: 1px;
  color: rgb(48, 43, 79); /* White text */
  text-shadow: 
    -1px -1px 0 #88ee95, 
    1px -1px 0 #88ee95, 
    -1px 1px 0 #88ee95, 
    1px 1px 0 #88ee95,
    0px -1px 0 #88ee95, 
    -1px 0px 0 #88ee95, 
    1px 0px 0 #88ee95, 
    0px 1px 0 #88ee95;
}


@media screen and (min-width: 400px) {
.invitesBadge {

  bottom: 7px;
  left: 62px;

}

}