.optionsCreateT {
  position: relative;
}
.optionsCreateFrame {
  align-self: stretch;
  flex: 1;
  background-color: #302b4f;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.optionsStatusFrame {
  align-self: stretch;
  flex: 1;
  background-color: #6b56a3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.optionsButtonFrame {
  flex: 1;
  border-radius: 10px;
  height: 51px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}
.optionsFrame {
  align-self: stretch;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 26px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Blinker;
}
