/* @import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,300;0,400;1,100;1,200;1,400&1,700display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body {
  margin: 0;
  line-height: normal;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

.Toastify__toast {
  font-family: 'Blinker', sans-serif; /* Set your desired font family */
  font-size: 20px; /* Set your desired font size */
  font-weight: bold; /* Set your desired font weight */



}



