/* Remove the @import for Blinker and Anybody as you're hosting these fonts locally */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  margin: 0;
  line-height: normal;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

.Toastify__toast {
  font-family: 'Blinker', sans-serif; /* Set your desired font family */
  font-size: 20px; /* Set your desired font size */
  font-weight: bold; /* Set your desired font weight */
}

.Toastify__progress-bar {
  /* Your styles for progress bar */
}

@font-face {
  font-family: 'Blinker';
  src: url('/assets/fonts/Blinker_WOFF2/Blinker-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Blinker';
  src: url('/assets/fonts/Blinker_WOFF2/Blinker-SemiBold.woff2') format('woff2');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Blinker';
  src: url('/assets/fonts/Blinker_WOFF2/Blinker-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Anybody';
  src: url('/assets/fonts/Anybody_WOFF2/Anybody-BoldItalic.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: italic;
}
