.titleT {
  align-self: stretch;
  position: relative;
  font-weight: 700;
}
.descriptionT {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  font-family: Blinker;
}
.titleAndDescription {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 63px 0px 0px;
  font-family: Anybody;
}
.madeByT {
  align-self: stretch;
  position: relative;
  font-size: 16px;
}
.dateIsT {
  position: relative;
}
.dateHowLong {
  position: relative;
  font-weight: 300;
}
.dateFrame {
  width: 281px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 20px;
}
.statusInformationFrame {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 30px;
  gap: 10px;
}







.userFrame1 {
  height: 90px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.userNameT3 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.statusGizUsers {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 0px;
  font-size: 16px;
  color: #000;
}
.gizInfoAndUsers {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}

.giz {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 26px;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Blinker;
}

.gizFrame {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px 0px;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 800px;
  /* ADDED */
  z-index: 1;
  background: linear-gradient(180deg, #463f71 50%, #fb7885 200%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* ADDED */
.gizFrame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/public/statusBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.075; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the image is behind the content */
}


.accept {
  width: 96px;
  height: 43px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.decline {
  width: 96px;
  height: 43px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gizButtons {
  margin: 0 !important;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Blinker;
}
